.increment-btn{
    background-color: brown;
    color: white;
    margin-left: 5px;
}
.button-container{
    float:right;
}
.price-container{
    display: flex;
    flex-direction: row;
}
.price{
    font-size: 12px;
    font-weight: 800;
    color: brown;
}
.qty{
    border: 1px solid lightgray;
    font-size: 12px;
    font-weight: 800;
    height: 20px;
    width: 20px;
    margin-left: 20px;
    align-content: center;
    justify-content: center;
    padding-left: 5px;
}
hr{
  border: none; 
  margin-top: 20px;
  height: 2px;
  background-color: brown;
}