.summary-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: grey;
  color: white;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 70%;
  border-radius: 10px;
  text-align: center;
  margin-top: 20%;
  margin-left: 20%;
  margin-right: 20% ;
}
h1{
    color: azure;
}
p{
    color: azure;
    align-content: center;
    align-self: center;
}